<div style="margin-left: 40px; margin-top: 50px;">
    <!-- Logo -->
    <div routerLink="">
        <img src="/assets/garsoft.png" style="cursor: pointer; height: 35px; margin-bottom: 50px;">
    </div>
    
    <!-- Demanda atual -->
    <p matBadge="1" matBadgeOverlap="false" class="big-text white" style="margin-bottom: 4px; width: fit-content;">{{this.demandaAtual}} W</p>
    <p class="container-title-text white" style="margin-bottom: 50px;">Demanda atual</p>
</div>

<!-- Relatorio de consumo -->
<div class="side-bar-item" routerLink="/relatorio-de-consumo" routerLinkActive="selected">
    <img class="item-image" src="/assets/relatorio-de-consumo.png">
    <p class="container-title-text white">Relatório de consumo</p>
</div>

<!-- Relatorio financeiro -->
<div class="side-bar-item" routerLink="/relatorio-financeiro" routerLinkActive="selected">
    <img class="item-image" src="/assets/relatorio-financeiro.png">
    <p class="container-title-text white">Relatório financeiro</p>
</div>