@import '../../../styles/custom-colors';

.mat-badge-content {
    top: unset !important;
    right: unset !important;

    width: 5px !important;
    height: 5px !important;
    margin-left: 5px !important;

    line-height: 5px !important;
    color: $light-green !important;

    background: $light-green !important;
 }

.side-nav-item {
    cursor: pointer;

    margin-right: 20px;
    margin-bottom: 5px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 40px;

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    &.selected {
        background-color: #116486;
    }

    .item-image {
        float: left;
        margin-right: 10px;
    }
}

.logo-container {
    margin: 50px 40px;
    
    .logo-img {
        cursor: pointer;
        height: 32px;
    }

    .close-sidenav-button {
        cursor: pointer;
        line-height: 32px;
    }
}