<!-- Title and date selector -->
<div style="margin-top: 40px; margin-left: 50px; margin-right: 50px; display: inline-block; width: calc(100% - 100px); min-width: 785px;">
    <p class="view-title-text" style="float: left; margin-right: 40px; line-height: 56px;">Relatório de Consumo</p>
    <p routerLink="/relatorio-de-consumo/diario" class="container-title-text dark-grey" style="float: left; line-height: 56px; margin-right: 20px; cursor: pointer;">Diário</p>
    <p routerLink="/relatorio-de-consumo/mensal" class="container-title-text dark-grey underline" style="float: left; line-height: 56px; cursor: pointer;">Mensal</p>
    <div style="float: right;">
        <mat-form-field>
            <mat-label>Escolha uma data</mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="dp" [formControl]="date">
            <mat-datepicker-toggle matIconSuffix [for]="dp">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="year"
                            (monthSelected)="setMonthAndYear($event, dp);onDateChange($event)"
                            panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
    </div>
</div>