<div class="view-container">
    <!-- Title and date picker -->
    <div class="title-container">
        <div class="consumption-title-container">
            <div class="flex-column-center">
                <p class="bigger-text">Relatório de Consumo</p>
            </div>
            <div class="flex-row-start column-gap-20px">
                <div class="flex-column-center">
                    <p routerLink="/relatorio-de-consumo/diario" class="normal-text dark-grey clickable">Diário</p>
                </div>
                <div class="flex-column-center">
                    <p routerLink="/relatorio-de-consumo/mensal" class="normal-text dark-grey clickable underline">Mensal</p>
                </div>
            </div>
        </div>
        <!-- Date picker -->
        <mat-form-field class="date-picker">
            <mat-label>Escolha uma data</mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="dp" [formControl]="date">
            <mat-datepicker-toggle matIconSuffix [for]="dp">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="year"
                            (monthSelected)="setMonthAndYear($event, dp);onDateSelect()"
                            panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
    </div>
</div>