<!-- Title and date selector -->
<div style="margin-top: 40px; margin-left: 50px; margin-right: 50px; display: inline-block; width: calc(100% - 100px); min-width: 785px;">
    <p class="view-title-text" style="float: left; margin-right: 40px; line-height: 56px;">Relatório de Consumo</p>
    <p routerLink="/relatorio-de-consumo/diario" class="container-title-text dark-grey underline" style="float: left; line-height: 56px; margin-right: 20px; cursor: pointer;">Diário</p>
    <p routerLink="/relatorio-de-consumo/mensal" class="container-title-text dark-grey" style="float: left; line-height: 56px; cursor: pointer;">Mensal</p>
    <div style="float: right;">
        <mat-form-field>
            <mat-label>Escolha uma data</mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="picker" [formControl]="date" (dateInput)="onDateChange($event.value)">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </div>
</div>

<!-- No response case -->
<ng-template #noResponse>
    <div class="center" style="text-align: center; margin-top: 10px; margin-left: 50px; margin-right: 50px; display: inline-block; width: calc(100% - 100px); min-width: 785px;">
        <img src="/assets/sad.png" style="height: 100px; margin-bottom: 30px;">
        <p class="light-grey no-space" style="font-size: 40px; margin-bottom: 30px;">Erro 500</p>
        <p class="light-grey no-space" style="font-size: 15px;">Não existem dados neste dia, por favor selecione outra data.</p>
        <p class="light-grey no-space" style="font-size: 15px;">Se você acredita que isso seja um erro contate o admnistrador de seu sistema.</p>
    </div>
</ng-template>

<!-- Containers -->
<div *ngIf="this.theresResponse; else noResponse" style="margin-top: 10px; margin-left: 50px; margin-right: 50px; display: inline-block; width: calc(100% - 100px); min-width: 785px;">

    <!-- Consumo total -->
    <div class="container" style="width: calc((100%/2 - 110px)/2); height: 153px; float: left;">
        <p class="container-title-text" style="margin-bottom: 37px;">Consumo total</p>
        <p class="big-text" style="margin-bottom: 37px;">{{this.response['consumo-total']}} Wh</p>
        <p class="coloured-text" [ngClass]="{'red': this.response['variacao-consumo-total']?.charAt(0) === '+' && this.response['variacao-consumo-total']?.charAt(1) !== '0', 'green': this.response['variacao-consumo-total']?.charAt(0) === '-'}" style="margin-bottom: 4px;">{{this.response['variacao-consumo-total']}}%</p>
        <p class="small-text">Desde o dia anterior</p>
    </div>

    <!-- Horario de pico -->
    <div class="container" style="width: calc((100%/2 - 110px)/2); height: 153px; float: left;">
        <p class="container-title-text" style="margin-bottom: 37px;">Horário de pico</p>
        <p class="big-text" style="margin-bottom: 37px;">{{this.response['horario-de-pico']}}</p>
        <p class="coloured-text" style="margin-bottom: 4px;">{{this.response['horario-de-pico-ontem']}}</p>
        <p class="small-text">No dia anterior</p>
    </div>

    <!-- Demanda media -->
    <div class="container" style="width: calc(100%/2 - 50px); height: 153px; float: left; margin-right: 0px;">
        <p class="container-title-text" style="margin-bottom: 16px;">Demanda média</p>
        <div style="border-bottom: 3px dashed #0388BE; width: 30px; margin-bottom: 18px;"></div>
        <p class="big-text" style="margin-bottom: 37px;">{{this.response['demanda-media']}} W</p>
        <p class="coloured-text" [ngClass]="{'red': this.response['variacao-demanda-media']?.charAt(0) === '+' && this.response['variacao-demanda-media']?.charAt(1) !== '0', 'green': this.response['variacao-demanda-media']?.charAt(0) === '-'}" style="margin-bottom: 4px;">{{this.response['variacao-demanda-media']}}%</p>
        <p class="small-text">Desde o dia anterior</p>
    </div>

    <!-- Consumo por fase -->
    <div class="container" style="width: calc(100%/2 - 50px); height: 163px; float: left; padding-bottom: 30px;">
        <p class="container-title-text" style="margin-bottom: 31px;">Consumo por fase</p>
        <!-- Fase A -->
        <p class="big-text" style="float: left; line-height: 32px; margin-right: 10px;">A</p>
        <div style="width: calc(100% - 30px); display: inline-block; margin-bottom: 10px;">
            <p class="coloured-text" style="margin-bottom: 0px; font-size: 16px; line-height: 16px; float: left;">{{this.response['consumo-total-a']}} Wh</p>
            <p class="coloured-text" [ngClass]="{'red': this.response['variacao-consumo-total-a']?.charAt(0) === '+' && this.response['variacao-consumo-total-a']?.charAt(1) !== '0', 'green': this.response['variacao-consumo-total-a']?.charAt(0) === '-'}" style="margin-bottom: 0px; float: right; line-height: 16px">{{this.response['variacao-consumo-total-a']}}%</p>
            <br>
            <p class="small-text" style="line-height: 12px; float: left;">{{(this.response['consumo-total-a']/this.response['consumo-total']*100).toFixed(0)}}% do consumo total</p>
            <p class="small-text" style="float: right; line-height: 12px;">Desde o dia anterior</p>
        </div>
        <!-- Fase B -->
        <p class="big-text" style="float: left; line-height: 32px; margin-right: 10px;">B</p>
        <div style="width: calc(100% - 30px); display: inline-block; margin-bottom: 10px;">
            <p class="coloured-text" style="margin-bottom: 0px; font-size: 16px; line-height: 16px; float: left;">{{this.response['consumo-total-b']}} Wh</p>
            <p class="coloured-text" [ngClass]="{'red': this.response['variacao-consumo-total-b']?.charAt(0) === '+' && this.response['variacao-consumo-total-b']?.charAt(1) !== '0', 'green': this.response['variacao-consumo-total-b']?.charAt(0) === '-'}" style="margin-bottom: 0px; float: right; line-height: 16px">{{this.response['variacao-consumo-total-b']}}%</p>
            <br>
            <p class="small-text" style="line-height: 12px; float: left;">{{(this.response['consumo-total-b']/this.response['consumo-total']*100).toFixed(0)}}% do consumo total</p>
            <p class="small-text" style="float: right; line-height: 12px;">Desde o dia anterior</p>
        </div>
        <!-- Fase C -->
        <p class="big-text" style="float: left; line-height: 32px; margin-right: 10px;">C</p>
        <div style="width: calc(100% - 30px); display: inline-block;">
            <p class="coloured-text" style="margin-bottom: 0px; font-size: 16px; line-height: 16px; float: left;">{{this.response['consumo-total-c']}} Wh</p>
            <p class="coloured-text" [ngClass]="{'red': this.response['variacao-consumo-total-c']?.charAt(0) === '+' && this.response['variacao-consumo-total-c']?.charAt(1) !== '0', 'green': this.response['variacao-consumo-total-c']?.charAt(0) === '-'}" style="margin-bottom: 0px; float: right; line-height: 16px">{{this.response['variacao-consumo-total-c']}}%</p>
            <br>
            <p class="small-text" style="line-height: 12px; float: left;">{{(this.response['consumo-total-c']/this.response['consumo-total']*100).toFixed(0)}}% do consumo total</p>
            <p class="small-text" style="float: right; line-height: 12px;">Desde o dia anterior</p>
        </div>  
    </div>
    
    <!-- Demanda maxima -->
    <div class="container" style="width: calc(100%/2 - 50px); height: 153px; float: left; margin-right: 0px;">
        <p class="container-title-text" style="margin-bottom: 16px;">Demanda máxima</p>
        <div style="border-bottom: 3px solid #0388BE; width: 30px; margin-bottom: 18px;"></div>
        <p class="big-text" style="margin-bottom: 37px;">{{this.response['demanda-maxima']}} W</p>
        <p class="coloured-text" [ngClass]="{'red': this.response['variacao-demanda-maxima']?.charAt(0) === '+' && this.response['variacao-demanda-maxima']?.charAt(1) !== '0', 'green': this.response['variacao-demanda-maxima']?.charAt(0) === '-'}" style="margin-bottom: 4px;">{{this.response['variacao-demanda-maxima']}}%</p>
        <p class="small-text">Desde o dia anterior</p>
    </div>

    <!-- Consumo acumulado -->
    <div class="container" style="width: calc(100%/2 - 50px); float: left;">
        <p class="container-title-text" style="margin-bottom: 37px;">Consumo acumulado</p>
        <div id="chartConsumoAcumulado"></div>
    </div>

    <!-- Curva de carga -->
    <div class="container" style="width: calc(100%/2 - 50px); float: left; margin-right: 0px;">
        <p class="container-title-text" style="margin-bottom: 37px;">Curva de carga</p>
        <div id="chartCurvaDeCarga"></div>
    </div>
</div>