<div class="view-container">
    <!-- Title and date picker -->
    <div class="title-container" id="monthlyConsumptionTitleContainer">
        <div class="title-wrapper" id="monthlyConsumptionTitleWrapper">
            <div class="flex-column-center">
                <p class="bigger-text">Relatório de Consumo</p>
            </div>
            <div class="flex-row-start column-gap-20px">
                <div class="flex-column-center">
                    <p class="normal-text dark-grey cursor-pointer hover-link" routerLinkActive="underline" routerLink="/relatorio-de-consumo/diario">Diário</p>
                </div>
                <div class="flex-column-center">
                    <p class="normal-text dark-grey cursor-pointer hover-link" routerLinkActive="underline" routerLink="/relatorio-de-consumo/mensal">Mensal</p>
                </div>
            </div>
        </div>
        <!-- Date picker -->
        <mat-form-field class="date-picker" id="monthlyConsumptionDatePicker">
            <input matInput [max]="maxDate" [matDatepicker]="picker" [formControl]="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker [touchUi]="isMobile"
                            #picker
                            startView="year"
                            (monthSelected)="setMonthAndYear($event, picker)"
                            panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
    </div>

    <!-- No response screen -->
    <app-no-data [noData]="true"></app-no-data>
</div>