<div class="view-container">
    <!-- Title and date picker -->
    <div class="title-container" id="titleContainer">
        <div class="consumption-title-container" id="consumptionTitleContainer">
            <div class="flex-column-center">
                <p class="bigger-text">Relatório de Consumo</p>
            </div>
            <div class="flex-row-start column-gap-20px">
                <div class="flex-column-center">
                    <p class="normal-text dark-grey cursor-pointer" routerLink="/relatorio-de-consumo/diario">Diário</p>
                </div>
                <div class="flex-column-center">
                    <p class="normal-text dark-grey cursor-pointer underline" routerLink="/relatorio-de-consumo/mensal">Mensal</p>
                </div>
            </div>
        </div>
        <!-- Date picker -->
        <mat-form-field class="date-picker" id="datePicker">
            <mat-label>Escolha uma data</mat-label>
            <input matInput [max]="maxDate" [matDatepicker]="picker" [formControl]="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker">
                <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon>
            </mat-datepicker-toggle>
            <mat-datepicker #picker
                            startView="year"
                            (monthSelected)="setMonthAndYear($event, picker)"
                            panelClass="example-month-picker">
            </mat-datepicker>
        </mat-form-field>
    </div>
</div>