.no-data-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
        text-align: center; 
    }

    .no-data-img {
        height: 100px;
        margin-bottom: 30px;
    }
}