// Custom colors

$white: #fff;
$lighter-grey: #f0f1f3;
$light-grey: #666;
$dark-grey: #252525;
$red: #F90000;
$green: #3A8300;
$light-green: #4DED30;
$blue: #0072b6;
$light-blue: #88b0c7;
$dark-blue: #041737;
