<mat-sidenav-container>
  <!-- Left-positioned side bar -->
  <mat-sidenav class="side-nav" #sidenav [mode]="sideNavMode" [opened]="sideNavIsOpened">
    <app-side-nav [isMobile]="isMobile" (closeSideNavEvent)="closeSidenav()" />
  </mat-sidenav>
  <!-- Router outlet (content) -->
  <mat-sidenav-content class="content">
    <!-- Top bar for mobile devices -->
    <div class="top-bar" *ngIf="isMobile">
      <img class="cursor-pointer" src="/assets/hamburger.png" alt="Menu" (click)="toggleSidenav()">
      <img class="logo-img cursor-pointer" src="/assets/logo.png" alt="Logo do EnergyView" routerLink="">
    </div>
    <!-- Content -->
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>