<mat-sidenav-container>
  <!-- Left-positioned side bar -->
  <mat-sidenav #sidenav class="side-nav" [mode]="sideNavMode" [opened]="sideNavIsOpened">
    <app-side-nav [showCloseSideNavButton]="isMobile" (closeSideNavEvent)="closeSidenav()"></app-side-nav>
  </mat-sidenav>
  <!-- Router outlet (content) -->
  <mat-sidenav-content class="content">
    <!-- Top bar for mobile devices -->
    <div *ngIf="isMobile" class="top-bar">
      <img class="cursor-pointer" src="/assets/hamburger.png" (click)="toggleSidenav()">
      <img class="logo-img cursor-pointer" src="/assets/logo.png" routerLink="">
    </div> 
    <!-- Content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>