@import '../styles/custom-colors';

.side-nav {
    width: 320px;
    background-color: $dark-blue;
    border: 0;
}

.content {
    height: 100vh;
    background-color: $lighter-grey;

    .top-bar {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        height: 40px;
        padding: 10px 25px;

        background-color: $dark-blue;
        box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
    
        img {
            height: 30px;
            margin: 5px 0;
        }
    
        .logo-img {
            justify-self: center;
        }
    }
}
