html, body { height: 100%; }
body { margin: 0; font-family: Lato, sans-serif; }

.container{
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    color: #252525;
    background-color: #ffffff;
    padding: 20px;
    padding-bottom: 40px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.big-text{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.small-text{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.container-title-text{
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.coloured-text{
    font-family: 'Lato';
    font-weight: 800;
    font-size: 12px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.view-title-text{
    font-family: 'Lato';
    font-weight: 700;
    font-size: 24px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

.white{
    color: #ffffff;
}

.dark-grey{
    color: #252525;
}

.red{
    color: #F90000;
}

.green{
    color: #3A8300;
}

.blue{
    color: #0388BE;
}

.selected{
    background-color: #116486;
    margin-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer
}

.not-selected{
    margin-right: 20px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer
}

.underline{
    text-decoration: underline;
    text-underline-offset: 4px;
}

.no-space{
    padding: 0px !important;
    border: 0px !important;
    margin: 0px !important;
}

.invisible{
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}